body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    gap: 2em;
    background: #f6f6f6;
}

.profile {
    background: white;
    border: #b8b8b8 solid 1px;
    border-radius: 10px;
    margin: 5em;
}

.cover_img {
    display: flex;
    flex: 3;
    width: 100%;
    height: 18em;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    cursor: pointer;
}

.cover_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-container{
    flex: 1;
    position: relative;
}

.profile_img {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    overflow: hidden;
    left: 2em;
    top: -6em;
    border: 7px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile_details {
    flex: 4;
    padding: 2em;
    margin: 4em 0 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.private_details {
    flex: 1.9;
    align-self: flex-start;
}

.tags span {
    flex-direction: row;
    font-size: 1.2rem;
}

.tags span:not(:last-child)::after{
    content: " | ";
}

.additional_details {
    flex: 1.1;
    align-self: flex-start;
    justify-content: flex-start;
}

.meta-data span {
    font-size: 1em;
    font-weight: lighter;
    color: #777676;
}

.meta-data .counters span:not(:last-child)::after {
    content: " ● ";
}

div a {
    display: inline-block;
    text-decoration: none;
    margin: 0.5em 0 0 0;
    padding: 0.5em 0.5em;
    background-color: #0A66C2;
    color: white;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

div a:hover {
    background-color: #005582;
}

.additional_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.links {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.link1, .other {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.link1 img, .other .fa-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.other {
    color: #0A66C2;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .profile_img{
        height: 7em;
        width: 7em;
        top: -4em;
    }

    .profile_details{
        flex-direction: column;
    }
}